# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/

# --- Environment Variables ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# --- Databases ---
*.db
*.sqlite3

# --- Alembic ---
alembic.log

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Docker ---
.docker
nm-*.log

# --- Streamlit ---
.streamlit/config.toml